.logo img{
	height:200px;
	width:200px;
	border-radius:50%;
}
@keyframes slide {
  from { left: 100%;}
  to { left: -100%;}
}
@-webkit-keyframes slide {
  from { left: 100%;}
  to { left: -100%;}
}
.myBtnContainer{
  display:grid;
  grid-template-columns:repeat(4 , 1fr);
  grid-gap:3px;
}
div.alpha{
  margin:0;
	padding:0;
	text-align:center;
  
}
.button{
  width: 70px;
  height: 70px;
    font-size: 2.5em;
    margin-top: 5px;
    margin-bottom: 5px;
	text-align: center;
    font-weight: bold;
	padding-bottom:6px;
	color:#3a23a3;
}
.book_name{
  text-align: center;
  font-weight: 500;
  color: rgb(230, 19, 159);
}
.filterDiv A{
  font-size: 1.70em;
}
a, a:link{
  color:#3a23a3;
  text-decoration: none;
  
}
a:hover{
  text-decoration: none;
  color:#7a077a;
}
.myBtnContainer1{
  display:grid;
  grid-template-columns:repeat(2 , 1fr);
  grid-gap:10px;
}